.main_page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px 10px;
}

.main_page_list {
  width: 960px;
}

.main_page_list_title {
  margin: 20px 0px;
  font-size: 20px;
  font-weight: bold;
}
