.header_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* PC version */
@media screen and (min-width: 640px) {
  .header_user {
    width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
  }

  .header_user > ul {
    display: flex;
    align-items: center;
    justify-content: right;
    max-width: 1380px;
    padding: 8px;
  }

  .header_user > ul li {
    margin-left: 10px;
  }

  .header_logo,
  .header_list_nav_wrap {
    width: 960px;
  }

  .header_logo {
    margin: 10px 0px 20px 0px;
  }

  .header_logo > p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .header_list_nav_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1ca8af;
  }

  .header_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
  }

  .header_wrap a,
  .header_user a,
  .header_logo a,
  .header_list a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .header_list li,
  .report_menu {
    line-height: 3;
    padding: 0px 8px;
  }

  .header_list li a,
  .report_menu a {
    color: white;
    font-weight: bold;
  }

  .header_list li:first-child {
    background-color: #0d5053;
  }

  .header_toggleBtn {
    display: none;
  }

  .header_list_mypage {
    display: none;
  }

  .header_list li div:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
  }

  #active {
    display: block;
  }

  .header_wrap {
    width: 100%;
    background-color: #1ca8af;
  }

  .header_logo {
    font-size: 30px;
    padding: 10px 0px;
  }

  .header_logo > p {
    font-weight: bold;
  }

  .header_logo > p > a {
    color: white;
    text-decoration: none;
  }

  .header_list_wrap,
  .header_user {
    display: none;
  }

  .header_toggleBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }

  #header_nav_active {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
    width: 70%;
    height: 100%;
  }

  .header_list_nav_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1ca8af;
  }

  .header_list_mypage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    font-size: 14px;
    padding: 20px 0px;
  }

  .header_list_mypage li {
    padding: 10px;
    margin: 0px 10px;
    border: 1px solid rgb(0 0 0 / 20%);
    text-align: center;
  }

  .header_list_mypage li a {
    color: white;
    text-decoration: none;
  }

  .header_list {
    width: 100%;
    height: 100%;
  }

  .header_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
  }

  .header_list > li:first-child {
    background-color: #0b4c5f;
  }

  .header_list li > div {
    display: flex;
    width: 100%;
    margin: 0px 10px;
  }

  .header_list li a {
    flex: 1;
    line-height: 1;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
  }

  .header_list li > div {
    color: white;
    font-size: 16px;
  }
}
